$black: rgba(38 38 51 / 100%);
$white: rgba(228 234 232 / 100%);
$gray: rgba(124 121 124 / 100%);
$blue: rgb(10 37 86 / 100%);
$blue-dark: rgb(0 18 51 / 100%);
$blue-dark_transparent: rgb(0 18 51 / 30%);
$red: rgb(253 29 29 / 100%);
$orange: rgb(252 176 69 / 100%);
$yellow: rgba(255 255 0 / 100%)